@use "partials-variables.scss" as *;

.dark {
  background-color: $secondary-color3;
  color: $secondary-color;
}

button {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: solid 2px $secondary-color2;
  border-radius: 50px;
  margin-left: 5px;
  cursor: pointer;
  background: $secondary-color4;
  color: $secondary-color5;
  transition: background 0.3s;
}

#mode-bth {
  background-color: $secondary-color3;
}

footer button {
  background-color: var(--bg);
}

.light-btn {
  background: #ddd;
  color: #000;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
