:root {
  --bg: #ffffff;
  --text: #000000;
}

body {
  background-color: var(--bg);
  color: var(--text);
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  max-width: 520px;
  padding: 20px;
  margin: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.todo-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: 8px;
  margin: 0;
}

li.done span {
  text-decoration: line-through;
  opacity: 0.6;
}

.dark {
  --bg: #121212;
  --text: #ffffff;
}

button {
  padding: 0.6rem 1rem;
  font-size: 1rem;
  border: none;
  border-radius: 8px;
  margin-left: 5px;
  cursor: pointer;
  background: #444;
  color: #fff;
  transition: background 0.3s;
}

.light-btn {
  background: #ddd;
  color: #000;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
